n8n_workflow.json
{
  "name": "AgenteSoldado_Generador",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-soldado",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250,250]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify({model: 'gpt-4o-mini', messages:[{role:'system',content:'Eres un agente soldado que genera planeamientos educativos siguiendo PNFT. Responde en español.'},{role:'user', content:`Genera un planeamiento para el payload: ${JSON.stringify($json)}`}], max_tokens:800})}}"
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500,250]
    },
    {
      "parameters": {
        "mode": "passThrough",
        "keepOnlySet": false
      },
      "name": "SetOutput",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [750,250]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{"node":"OpenAI","type":"main","index":0}]] },
    "OpenAI": { "main": [[{"node":"SetOutput","type":"main","index":0}]] }
  }
}
